<div>
    <ul class="tab-nav tn-justified" role="tablist">
        <li role="presentation" class="active"><a href="#friends" aria-controls="friends" role="tab"
                                                  data-toggle="tab">Open Contracts</a></li>
    </ul>
    <div class="chat-search">
        <div class="fg-line">
            <input type="text" class="form-control" placeholder="Search Contracts">
        </div>
    </div>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="friends">
            <div class="listview">
                <a class="lv-item" ui-sref="myContracts">
                    <div class="media">
                        <div class="pull-left p-relative">
                            <img class="lv-img-sm" src="img/smart_contract.png" alt="">
                            <i class="chat-status-busy"></i>
                        </div>
                        <div class="media-body">
                            <div class="lv-title">Smart Contract No.1</div>
                            <small class="lv-small">Created</small>
                        </div>
                    </div>
                </a>
                <a class="lv-item" ui-sref="myContracts">
                    <div class="media">
                        <div class="pull-left">
                            <img class="lv-img-sm" src="img/smart_contract.png" alt="">
                        </div>
                        <div class="media-body">
                            <div class="lv-title">Smart Contract No.2</div>
                            <small class="lv-small">Waiting</small>
                        </div>
                    </div>
                </a>
                <a class="lv-item" ui-sref="myContracts">
                    <div class="media">
                        <div class="pull-left p-relative">
                            <img class="lv-img-sm" src="img/generic_contract.png" alt="">
                            <i class="chat-status-online"></i>
                        </div>
                        <div class="media-body">
                            <div class="lv-title">Generic Contract No.1</div>
                            <small class="lv-small">Ready</small>
                        </div>
                    </div>
                </a>
                <a class="lv-item" ui-sref="myContracts">
                    <div class="media">
                        <div class="pull-left p-relative">
                            <img class="lv-img-sm" src="img/smart_contract.png" alt="">
                            <i class="chat-status-online"></i>
                        </div>
                        <div class="media-body">
                            <div class="lv-title">Smart Contract No.3</div>
                            <small class="lv-small">Ready</small>
                        </div>
                    </div>
                </a>
                <a class="lv-item" ui-sref="myContracts">
                    <div class="media">
                        <div class="pull-left">
                            <img class="lv-img-sm" src="img/generic_contract.png" alt="">
                        </div>
                        <div class="media-body">
                            <div class="lv-title">Generic Contract No.2</div>
                            <small class="lv-small">Waiting</small>
                        </div>
                    </div>
                </a>
                <a class="lv-item" ui-sref="myContracts">
                    <div class="media">
                        <div class="pull-left">
                            <img class="lv-img-sm" src="img/smart_contract.png" alt="">
                        </div>
                        <div class="media-body">
                            <div class="lv-title">Smart Contract No.4</div>
                            <small class="lv-small">Waiting</small>
                        </div>
                    </div>
                </a>
                <a class="lv-item" ui-sref="myContracts">
                    <div class="media">
                        <div class="pull-left p-relative">
                            <img class="lv-img-sm" src="img/smart_contract.png" alt="">
                            <i class="chat-status-busy"></i>
                        </div>
                        <div class="media-body">
                            <div class="lv-title">Smart Contract No.5</div>
                            <small class="lv-small">Created</small>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>