<section id="content">
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h2>Create Contracts
                    <small>With this easy-to-use wizard you can easily create smart contracts without all the hassle
                    </small>
                </h2>
            </div>
            <div class="card-body card-padding">
                <div class="form-wizard-basic fw-container">
                    <ul class="tab-nav text-center fw-nav" tabindex="11" style="overflow: hidden; outline: none;">
                        <li ui-sref-active="active"><a ui-sref="createContract.start">Create</a></li>
                        <li ui-sref-active="active"><a ui-sref="createContract.details">Details</a></li>
                        <li ui-sref-active="active"><a ui-sref="createContract.publish">Publish</a></li>
                        <li ui-sref-active="active"><a ui-sref="createContract.finish">Finish</a></li>
                    </ul>
                    <div class="tab-content">
                        <div ui-view></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
