         <section id="content">
            <div class="container">
               <div class="block-header">
                  <h2>Pricing</h2>
               </div>
               <div class="col-sm-4">
                  <!--Starter -->
                  <div class="card profile-view">
                     <div class="pv-header" style="background:#7cdfa9;">
                        <img src="img/plans/starter.png" class="pv-main" alt="">
                     </div>
                     <div class="pv-body">
                        <h2 style="
                           background: #e5fae9;
                           padding-top: 20px;
                           padding-bottom: 20px;
                           width: 108.5%;
                           margin-left: -20px;
                           /* height: 85%; */
                           line-height: 400%;
                           margin-top: -15%;
                           color: #92b597;
                           font-family:  'Montserrat', sans-serif;
                           ">1 BTC</h2>
                        <div class="listview">
                           <a class="lv-item" href="">
                              <div class="media">
                                 <div class="media-body">
                                    <div class="lv-title" style="text-align:left;">Feature 1</div>
                                    <small class="lv-small" style="text-align:left;">Something about this great feature here.</small>
                                 </div>
                              </div>
                           </a>
                           <a class="lv-item" href="">
                              <div class="media">
                                 <div class="media-body">
                                    <div class="lv-title" style="text-align:left;">Feature 2</div>
                                    <small class="lv-small" style="text-align:left;">Something about this great feature here.</small>
                                 </div>
                              </div>
                           </a>
                           <a class="lv-item" href="">
                              <div class="media">
                                 <div class="media-body">
                                    <div class="lv-title" style="text-align:left;">Feature 3</div>
                                    <small class="lv-small" style="text-align:left;">Something about this great feature here.</small>
                                 </div>
                              </div>
                           </a>
                           <a class="lv-item" href="">
                              <div class="media">
                                 <div class="media-body">
                                    <div class="lv-title" style="text-align:left;">Feature 4</div>
                                    <small class="lv-small" style="text-align:left;">Something about this great feature here.</small>
                                 </div>
                              </div>
                           </a>
                           <a class="lv-item" href="">
                              <div class="media">
                                 <div class="media-body">
                                    <div class="lv-title" style="text-align:left;">Feature 1</div>
                                    <small class="lv-small" style="text-align:left;">Something about this great feature here.</small>
                                 </div>
                              </div>
                           </a>
                           <br>
                           <br>
                        </div>
                        <a href="./purchase.html" class="pv-follow-btn" style="background:#7cdfa9; font-family: 'Montserrat', sans-serif;">Select Plan</a>
                     </div>
                  </div>
               </div>
               <div class="col-sm-4">
                  <!--Pro User -->
                  <div class="card profile-view">
                     <div class="pv-header" style="background:#bd9de6;">
                        <img src="img/plans/pro.png" class="pv-main" alt="">
                     </div>
                     <div class="pv-body">
                        <h2 style="
                           background: #efe6fb;
                           padding-top: 20px;
                           padding-bottom: 20px;
                           width: 108.5%;
                           margin-left: -20px;
                           /* height: 85%; */
                           line-height: 400%;
                           margin-top: -15%;
                           color: #9d8db2;
                           font-family:  'Montserrat', sans-serif;
                           ">2 BTC</h2>
                        <div class="listview">
                           <a class="lv-item" href="">
                              <div class="media">
                                 <div class="media-body">
                                    <div class="lv-title" style="text-align:left;">Feature 1</div>
                                    <small class="lv-small" style="text-align:left;">Something about this great feature here.</small>
                                 </div>
                              </div>
                           </a>
                           <a class="lv-item" href="">
                              <div class="media">
                                 <div class="media-body">
                                    <div class="lv-title" style="text-align:left;">Feature 2</div>
                                    <small class="lv-small" style="text-align:left;">Something about this great feature here.</small>
                                 </div>
                              </div>
                           </a>
                           <a class="lv-item" href="">
                              <div class="media">
                                 <div class="media-body">
                                    <div class="lv-title" style="text-align:left;">Feature 3</div>
                                    <small class="lv-small" style="text-align:left;">Something about this great feature here.</small>
                                 </div>
                              </div>
                           </a>
                           <a class="lv-item" href="">
                              <div class="media">
                                 <div class="media-body">
                                    <div class="lv-title" style="text-align:left;">Feature 4</div>
                                    <small class="lv-small" style="text-align:left;">Something about this great feature here.</small>
                                 </div>
                              </div>
                           </a>
                           <a class="lv-item" href="">
                              <div class="media">
                                 <div class="media-body">
                                    <div class="lv-title" style="text-align:left;">Feature 1</div>
                                    <small class="lv-small" style="text-align:left;">Something about this great feature here.</small>
                                 </div>
                              </div>
                           </a>
                           <br>
                           <br>
                        </div>
                        <a href="./purchase.html" class="pv-follow-btn" style="background:#bd9de6; font-family: 'Montserrat', sans-serif;">Select Plan</a>
                     </div>
                  </div>
               </div>
               <div class="col-sm-4">
                  <!--Ultra -->
                  <div class="card profile-view">
                     <div class="pv-header" style="background:#6dc7fb;">
                        <img src="img/plans/expert.png" class="pv-main" alt="">
                     </div>
                     <div class="pv-body">
                        <h2 style="
                           background: #e5f7fb;
                           padding-top: 20px;
                           padding-bottom: 20px;
                           width: 108.5%;
                           margin-left: -20px;
                           /* height: 85%; */
                           line-height: 400%;
                           margin-top: -15%;
                           color: #63accd;
                           font-family:  'Montserrat', sans-serif;
                           font-weight:500;
                           ">3 BTC</h2>
                        <div class="listview">
                           <a class="lv-item" href="">
                              <div class="media">
                                 <div class="media-body">
                                    <div class="lv-title" style="text-align:left;">Feature 1</div>
                                    <small class="lv-small" style="text-align:left;">Something about this great feature here.</small>
                                 </div>
                              </div>
                           </a>
                           <a class="lv-item" href="">
                              <div class="media">
                                 <div class="media-body">
                                    <div class="lv-title" style="text-align:left;">Feature 2</div>
                                    <small class="lv-small" style="text-align:left;">Something about this great feature here.</small>
                                 </div>
                              </div>
                           </a>
                           <a class="lv-item" href="">
                              <div class="media">
                                 <div class="media-body">
                                    <div class="lv-title" style="text-align:left;">Feature 3</div>
                                    <small class="lv-small" style="text-align:left;">Something about this great feature here.</small>
                                 </div>
                              </div>
                           </a>
                           <a class="lv-item" href="">
                              <div class="media">
                                 <div class="media-body">
                                    <div class="lv-title" style="text-align:left;">Feature 4</div>
                                    <small class="lv-small" style="text-align:left;">Something about this great feature here.</small>
                                 </div>
                              </div>
                           </a>
                           <a class="lv-item" href="">
                              <div class="media">
                                 <div class="media-body">
                                    <div class="lv-title" style="text-align:left;">Feature 1</div>
                                    <small class="lv-small" style="text-align:left;">Something about this great feature here.</small>
                                 </div>
                              </div>
                           </a>
                           <br>
                           <br>
                        </div>
                        <a href="./purchase.html" class="pv-follow-btn" style="background:#6dc7fb; font-family: 'Montserrat', sans-serif;">Select Plan</a>
                     </div>
                  </div>
               </div>
            </div>
         </section>

