<div class="ms-body">
    <div class="listview lv-message">
        <div class="lv-header-alt bgm-white">
            <div id="ms-menu-trigger">
                <div class="line-wrap">
                    <div class="line top"></div>
                    <div class="line center"></div>
                    <div class="line bottom"></div>
                </div>
            </div>

            <div class="lvh-label hidden-xs">

                <span class="c-black">My Profile</span>
            </div>


        </div>

        <div class="lv-body" style="
    min-height: 500px;
">
            <div class="row" style="padding:15px;">

                <div class="col-sm-6">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="md md-person"></i></span>

                        <div class="fg-line">
                            <input type="text" class="form-control" placeholder="Reiner Wulfcastle">
                        </div>
                    </div>
                    <br>

                    <div class="input-group">
                        <span class="input-group-addon"><i class="md md-local-phone"></i></span>

                        <div class="fg-line">
                            <input type="text" class="form-control" placeholder="+ 1 113 058 4857">
                        </div>
                    </div>
                    <br>

                    <div class="input-group">
                        <span class="input-group-addon"><i class="md md-email"></i></span>

                        <div class="fg-line">
                            <input type="text" class="form-control"
                                   placeholder="reiner.wulfcastle@gmail.com">
                        </div>
                    </div>
                    <br>

                    <div class="input-group">
                        <span class="input-group-addon"><i class="md md-location-on"></i></span>

                        <div class="fg-line">
                            <input type="text" class="form-control" placeholder="Skype : Wulfcastle">
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">


                    <br>

                    <div class="input-group">
                        <div class="fg-line">
                            <input type="text" class="form-control" placeholder="Reputation : +100/-7">
                        </div>
                        <span class="input-group-addon last"><i class="md md-account-box"></i></span>
                    </div>
                    <br>


                </div>


            </div>
            <hr>
            <div class="col-sm-6">
                <p>About:</p>

                <div class="m-b-10">
                    <button class="btn btn-primary btn-sm hec-button waves-effect waves-button">EDIT
                    </button>
                    <button class="btn btn-success btn-sm hec-save waves-effect waves-button"
                            style="display: none;">Save
                    </button>
                </div>
                <br>

                <div class="html-editor-click" style="display: block;">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vehicula erat sit amet
                    aliquam vehicula. Aliquam aliquet et risus et consequat. Quisque ultrices nulla eu magna
                    vulputate, quis varius massa tempor. Suspendisse sed condimentum purus, eget consequat
                    dolor. Fusce aliquet ultricies porta. Nunc semper commodo leo at maximus. Duis maximus
                    maximus leo, id lobortis nisi aliquam sit amet. Nullam vel ex id augue scelerisque
                    congue sit amet eget urna.
                </div>
            </div>
        </div>
    </div>
</div>