<section id="content" ng-controller="SandboxController">
    <div class="container">
        <div class="card">
            <div id="blockly" style="min-height: 1500px;"></div>
        </div>
        <div class="card">
            <textarea name="result" id="result" cols="30" rows="10">

            </textarea>
        </div>
    </div>
</section>
<xml id="toolbox" style="display: none;">
    <category name="Main">
        <block type="COMMENT"></block>
        <block type="INIT"></block>
    </category>
    <category name="Input values">
        <block type="VALUE"></block>
        <block type="CURRENCY"></block>
        <block type="TX"></block>
        <block type="CONTRACT"></block>
        <block type="BLOCKINFO"></block>
        <block type="INPUT"></block>
        <block type="THINPUT"></block>
    </category>
    <category name="Logic">
        <block type="MATH"></block>
        <block type="COMPARE"></block>
        <block type="LOGIC"></block>
    </category>
    <category name="Actions">
        <block type="SPEND"></block>
        <block type="STOP"></block>
    </category>
    <category name="Variables">
        <block type="MSTORE"></block>
        <block type="MVAL"></block>
        <block type="RESERVE"></block>
        <block type="LOAD"></block>
        <block type="STORE"></block>
    </category>
    <category name="Statements">
        <block type="IF"></block>
        <block type="WHEN"></block>
    </category>
    <category name="Loops">
        <block type="WHILE"></block>
    </category>
</xml>