<section id="content" ng-controller="SandboxController">
    <div class="container">
        <div class="card">
            <div id="blockly" style="min-height: 1500px;"></div>
        </div>
    </div>
</section>
<xml id="toolbox" style="display: none;">
    <block type="COMMENT"></block>
    <block type="VALUE"></block>
    <block type="CURRENCY"></block>
    <block type="TX"></block>
    <block type="CONTRACT"></block>
    <block type="BLOCKINFO"></block>
    <block type="INPUT"></block>
    <block type="THINPUT"></block>
    <block type="MATH"></block>
    <block type="COMPARE"></block>
    <block type="LOGIC"></block>
    <block type="MSTORE"></block>
    <block type="MVAL"></block>
    <block type="RESERVE"></block>
    <block type="LOAD"></block>
    <block type="STORE"></block>
    <block type="SPEND"></block>
    <block type="STOP"></block>
    <block type="WHEN"></block>
    <block type="IF"></block>
    <block type="WHILE"></block>
    <block type="INIT"></block>
</xml>