<div class="sidebar-inner">
    <div class="si-inner">
        <div class="profile-menu">
            <a href="">
                <div class="profile-pic">
                    <h4 style="color:#fff; font-family: 'Montserrat', sans-serif; text-transform: uppercase; font-size:
                                            12px;">Account <br></h4>

                    <p style=" color: #8890AD; font-size: 10px;">3J98t1WpEZ73CNmQviecrnyiWrnqRhWNLy</p>
                </div>

                <div class="profile-info">
                    Account Actions

                    <i class="md md-arrow-drop-down"></i>
                </div>
            </a>

            <ul class="main-menu">
                <li>
                    <a href="profile.html"><i class="md md-person"></i> View Profile</a>
                </li>
                <li>
                    <a href="/logout"><i class="md md-history"></i> Logout</a>
                </li>
            </ul>
        </div>
        <ul class="main-menu">
            <li ui-sref-active="active">
                <a ui-sref="dashboard"><i class="md md-dashboard"></i> Dashboard</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="createContract"><i class="md md-blur-on"></i> Create Contract</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="myContracts"><i class="md md-receipt"></i>My Contracts</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="transactions"><i class="md md-settings-ethernet"></i>Transactions</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="sandbox"><i class="md md-settings-applications"></i>Sandbox</a>
            </li>
        </ul>
    </div>
</div>