<section id="content">
    <div class="container">
        <div class="block-header">
            <h2>Dashboard</h2>
        </div>
        <div class="mini-charts">
            <div class="row">
                <div class="col-sm-6 col-md-3">
                    <div class="mini-charts-item bgm-cyan">
                        <div class="clearfix">
                            <div class="chart stats-line" style="display:none;">
                                <canvas width="85" height="45"
                                        style="display: inline-block; width: 85px; height: 45px; vertical-align: top;"></canvas>
                            </div>
                            <div class="count">
                                <small>Ether Balance</small>
                                <h2>987,459</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="mini-charts-item bgm-lightgreen">
                        <div class="clearfix">
                            <div class="chart stats-line" style="display:none;">
                                <canvas width="85" height="45"
                                        style="display: inline-block; width: 85px; height: 45px; vertical-align: top;"></canvas>
                            </div>
                            <div class="count">
                                <small>Active Contracts</small>
                                <h2>356</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="mini-charts-item bgm-orange">
                        <div class="clearfix">
                            <div class="chart stats-line" style="display:none;">
                                <canvas width="85" height="45"
                                        style="display: inline-block; width: 85px; height: 45px; vertical-align: top;"></canvas>
                            </div>
                            <div class="count">
                                <small>User Type</small>
                                <h2>Pro</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="mini-charts-item bgm-bluegray">
                        <div class="clearfix">
                            <div class="chart stats-line-2" style="display:none;">
                                <canvas width="85" height="45"
                                        style="display: inline-block; width: 85px; height: 45px; vertical-align: top;"></canvas>
                            </div>
                            <div class="count">
                                <small>Old Contracts</small>
                                <h2>238</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div>
                <!-- Recent Items -->
                <!-- Recent Contracts -->
                <div class="card">
                    <div class="card-header ch-alt m-b-20">
                        <h2>Recent Contracts
                            <small>All Your Recent Contracts</small>
                        </h2>
                        <a href="/create">
                            <button class="btn bgm-cyan btn-float waves-effect"><i class="md md-add"></i></button>
                        </a>
                    </div>
                    <div class="card-body">
                        <div class="listview">
                            <a class="lv-item" href="">
                                <div class="media">
                                    <div class="pull-left">
                                        <img class="lv-img-sm" src="img/smart_contract.png" alt="">
                                    </div>
                                    <div class="media-body">
                                        <div class="lv-title">Smart Contract No.1</div>
                                        <small class="lv-small">Waiting</small>
                                    </div>
                                </div>
                            </a>
                            <a class="lv-item" href="">
                                <div class="media">
                                    <div class="pull-left">
                                        <img class="lv-img-sm" src="img/smart_contract.png" alt="">
                                    </div>
                                    <div class="media-body">
                                        <div class="lv-title">Smart Contract No.2</div>
                                        <small class="lv-small">Waiting</small>
                                    </div>
                                </div>
                            </a>
                            <a class="lv-item" href="">
                                <div class="media">
                                    <div class="pull-left">
                                        <img class="lv-img-sm" src="img/smart_contract.png" alt="">
                                    </div>
                                    <div class="media-body">
                                        <div class="lv-title">Smart Contract No.3</div>
                                        <small class="lv-small">Waiting</small>
                                    </div>
                                </div>
                            </a>
                            <a class="lv-item" href="">
                                <div class="media">
                                    <div class="pull-left">
                                        <img class="lv-img-sm" src="img/smart_contract.png" alt="">
                                    </div>
                                    <div class="media-body">
                                        <div class="lv-title">Smart Contract No.4</div>
                                        <small class="lv-small">Waiting</small>
                                    </div>
                                </div>
                            </a>
                            <a class="lv-item" href="">
                                <div class="media">
                                    <div class="pull-left">
                                        <img class="lv-img-sm" src="img/smart_contract.png" alt="">
                                    </div>
                                    <div class="media-body">
                                        <div class="lv-title">Smart Contract No.5</div>
                                        <small class="lv-small">Waiting</small>
                                    </div>
                                </div>
                            </a>
                            <a class="lv-footer" href="./my-contracts.html">View All</a>
                        </div>
                    </div>
                </div>
                <!-- Recent Transactions -->
                <div class="card">
                    <div class="card-header">
                        <h2>Recent Transactions
                            <small>All your Recent Transactions</small>
                        </h2>
                        <ul class="actions">
                            <li class="dropdown">
                                <a href="" data-toggle="dropdown">
                                    <i class="md md-more-vert"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li>
                                        <a href="">Refresh</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body m-t-0">
                        <table class="table table-inner table-vmiddle">
                            <thead>
                            <tr>
                                <th>TxID</th>
                                <th>Sender Address</th>
                                <th style="width: 60px">Amount in BTC</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="f-500 c-cyan">
                                    51b78168d94ec307e2855697209275d477e05d8647caf29cb9e38fb6a4661145
                                </td>
                                <td>3J98t1WpEZ73CNmQviecrnyiWrnqRhWNLy</td>
                                <td class="f-500 c-cyan">5.2</td>
                            </tr>
                            <tr>
                                <td class="f-500 c-cyan">
                                    51b78168d94ec307e2855697209275d477e05d8647caf29cb9e38fb6a4661145
                                </td>
                                <td>3J98t1WpEZ73CNmQviecrnyiWrnqRhWNLy</td>
                                <td class="f-500 c-cyan">0.2</td>
                            </tr>
                            <tr>
                                <td class="f-500 c-cyan">
                                    51b78168d94ec307e2855697209275d477e05d8647caf29cb9e38fb6a4661145
                                </td>
                                <td>3J98t1WpEZ73CNmQviecrnyiWrnqRhWNLy</td>
                                <td class="f-500 c-cyan">0.0089</td>
                            </tr>
                            <tr>
                                <td class="f-500 c-cyan">
                                    51b78168d94ec307e2855697209275d477e05d8647caf29cb9e38fb6a4661145
                                </td>
                                <td>3J98t1WpEZ73CNmQviecrnyiWrnqRhWNLy</td>
                                <td class="f-500 c-cyan">0.45</td>
                            </tr>
                            <tr>
                                <td class="f-500 c-cyan">
                                    51b78168d94ec307e2855697209275d477e05d8647caf29cb9e38fb6a4661145
                                </td>
                                <td>3J98t1WpEZ73CNmQviecrnyiWrnqRhWNLy</td>
                                <td class="f-500 c-cyan">1.2</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div id="recent-items-chart" class="flot-chart" style="padding: 0px; position: relative;">
                        <canvas class="flot-base" width="1189" height="150"
                                style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 1189px; height: 150px;"></canvas>
                        <canvas class="flot-overlay" width="1189" height="150"
                                style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 1189px; height: 150px;"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
